* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body{
    background-image: url('../img/background.jpg');
    -webkit-background-size:cover;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    font-family: 'IBM Plex Sans', sans-serif;
}

/* NAV BAR START */

header {
    background: #333;
    width: 100%;
    position: relative;
    height: 10vh;
}

.nav-wrapper {
    display: flex;
    margin: 0 auto;
    position: relative;
    justify-content: space-between;
    align-items: center;
}


nav.nav-wrapper ul li {
    display: inline-block;
    margin-bottom: 0;
    padding: 10px 10px;
    
}

nav ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 1px;
    font-size: 14px;
    line-height: 22px;
    position: relative;
    border-bottom: 1px solid transparent;
    transition: 0.3s;
}



nav.nav-wrapper ul li a:hover{
    border-bottom: 1px solid white;
    border-bottom-width: 1px;
}


nav{
    width:100%;
    padding: 10px 25px ;
    text-align: right;
    background: #333;
}

header .logo img{
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 70px;
}


/* NAV BAR END */

/* MAIN START */

main{
    height: 78.5vh;
}

.container{
    margin: 10px;
    display: flex;
}

/* FLEX-CONTAINER START */

.flex-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    padding: 30px;
    padding-bottom: 20px;
}

.flex-item h2{
    text-align: center;
    font-size: 30px;
    padding-left: 50px;
    padding-bottom: 15px;
}

.flex-item h3{
    font-weight:normal;
    text-align: center;
    font-style: italic;
    font-size: 16px;
    padding-left: 50px;
    padding-bottom: 15px;
}

.flex-item p{
    text-align: center;
    font-size: 20px;
    padding-left: 50px;
    padding-bottom: 30px;
}

span {
    color:rgb(69,82,91);
    font-weight: bold;
}

.skills h2{
    font-size: 20px;
    text-align: left;
}

.skills li{
    text-align: left;
    font-size: 16px;
    padding-left: 50px;
    list-style: none;
}

.flex-item img{
    width: 70%;
    border-radius: 50%;
}

.flex-item{
    text-align: center;
}

/* FLEX-CONTAINER END */

/* FLEX-CONTAINER END */

.flex-contact div{
    
    margin: 5px;
    display: inline;
}

.linkedin-item img{
    width: 40px;
    border-radius: 20%;
}

.facebook-item img{
    width: 40px;
    border-radius: 20%;
}

.github-item img{
    width: 40px;
    border-radius: 20%;
}

/* FLEX-CONTAINER END */

/* BOTTOM START */

.contact{
    margin: 0 auto;
    width: 600px;
    vertical-align: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 63px;
}

.btn{
    align-items: center;
    margin-top: 10px;  
}

.btn-contact, .btn-portifolio{
    display:inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 32px;
    border: none;
    color: white;
    background-color: rgb(93,193,193);
    transition: 0.3s;
    border-radius: 100px;
}

.btn-contact{
    margin-right: 30px ;
}
.btn-portifolio{
    margin-left: 30px ;
}
.btn-contact:hover, .btn-portifolio:hover{
    color: white;
    background-color: #333;
}
/* BOTTOM END */

/* MAIN END */

/* FOOTER START */

footer{
    height: 10vh;
    background-color: #333;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 22px;
    font-size: 14px;
}

/* FOOTER END */
