/* RESET START */
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/* RESET END */

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container{
    display:block;
}

/* NAV START */

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 12vh;
    background-color: white;
    padding: 10px;
}

.nav-bar{
    display: flex;
    width: 100%;;
    justify-content: space-between;
    align-items: center;
    margin-right: 30px;
    margin-left: 30px;
}

.logo{
    width: 25%;
}

.form{
    width: 45%;
}

.icons{
    width: 30%;
}

.logo img{
    height: 40px;
    width: 52px;
}

input[type=text] {
    border: 1px solid rgb(232,231,231);
    outline: none;
    height: 35px;
    width: 500px;
    border-radius: 6px;
    background-color: rgb(232,231,231);
    font-size: 18px;
    letter-spacing: 1px;
    margin-right: 50px;
}

.icons button{
    background-color: rgb(232,231,231);
    border: 1px solid rgb(232,231,231);
    color:#3b3b3b;
    outline: none;
    border-radius: 6px;
    
    padding: 9px 20px;
    text-transform: uppercase;
    font-weight: bold;
    transition: 0.3s;
    
}
.icons button:hover{
    background-color: #3b3b3b;
    border: 1px solid #3b3b3b;
    color: white;
}

.icons img{
    width: 30px;
    margin-right: 10px;
    margin-left: 10px;
}

/* NAV END */

/* MAIN START */

main{
    margin-top: 10px;
    height: 88vh;
}

.grid-container{
    display: grid;
    grid-template-rows: 26vh 26vh 26vh;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-evenly;
    margin-left: 65px;
    margin-right: 65px;
}

.grid-item-a{
    grid-column: 1;
    grid-row: 1 / 3;
}

.grid-item-b{
    grid-column: 2 / 5;
    grid-row: 1 / 3;
}

/* GRID A START */

.grid-item-a {
    border: 1px solid rgb(232,231,231);
    height: 440px;
    padding: 15px;
    margin-right: 10px;
}

.grid-item-a h3{
    font-size: 16px;
    letter-spacing: 1px;
    text-decoration: underline;
    text-transform: lowercase;
    padding-bottom: 15px;
    padding-top: 10px;
    color: rgb(165, 165, 165);
    text-align: center;
}

.grid-item-a h4{
    letter-spacing: 1px;
    text-transform: capitalize;
    padding-bottom: 10px;
    padding-top: 10px;
    color:  black;
    font-weight: normal;
    text-align: center;
}

.grid-item-a ul li{
    list-style-type: none;
    letter-spacing: 1px;
    padding: 5px;
    padding-left: 10px;
}

/* GRID SUB-TITLE START */

.grid-sub-title{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.sub-title-img{
    width: 60px;
    height: 60px;
}

.sub-title-g{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr;
    align-items: center;
    justify-items: center;
    padding-left: 25px;
}

.sub-title-g h4{
    justify-content: left;
    grid-column: 1;
    grid-row: 1;
}
.sub-title-g p{
    font-size: 13px;
    font-style: italic;
    justify-content: left;
    grid-column: 2;
    grid-row: 1;
    float: left;
}
.sub-title-g ul{
    grid-column: 1 / 3;
    grid-row: 2;
}

.sub-title-g ul li{
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    float: left;
}

img#seattle{
    width: 100%;
}

/* GRID SUB-TITLE END */

/* FLEX-BOX START */

.flex-box{
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
    margin-left: 40px;
}

div.flex-img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7%;
}

img#comment{
    width: 40%;
}

img#reaction{
    width: 40%;
}
button#save{
    margin-left: 420px;
    background-color: rgb(232,231,231);
    border: 1px solid rgb(232,231,231);
    color:#3b3b3b;
    outline: none;
    border-radius: 6px;
    padding: 5px 10px;
    text-transform: uppercase;
    font-weight: bold;
    transition: 0.3s;
}

#save:hover{
    margin-left: 420px;
    background-color: #3b3b3b;
    border: 1px solid  #3b3b3b;
    color:white;
}

span#reactions{
    font-size: 12px;
    font-style: italic;

}

/* FLEX-BOX END */

/* GRID A END */

/* GRID B START */

.grid-item-b {
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
}
.grid-item-b img{
    margin-left: 15px;
    margin-right: 15px;
    width: 85%;
}

.grid-box{
    border: 1px solid rgb(232,231,231);
}

.grid-item-b h1{
    margin-right: 70px;
    margin-left: 70px;
    text-transform: capitalize;
    text-align: left;
    font-size: 40px;
}

.grid-item-b ul li{
    text-align: center;
    list-style-type: none;
}

.flex-menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
    padding: 15px;
}

.flex-menu-1,
.flex-menu-2,
.flex-menu-3,
.flex-menu-4,
.flex-menu-5,
.flex-menu-6{
    background-color: rgb(18,17,48);
    color: white;
    border: 1px solid rgb(18,17,48);
    border-radius: 100px;
    padding: 5px 15px;
    transition: 0.4s;
    letter-spacing: 1px;

}

.flex-menu-1:hover,
.flex-menu-2:hover,
.flex-menu-3:hover,
.flex-menu-4:hover,
.flex-menu-5:hover,
.flex-menu-6:hover{
    background-color: white;
    border: 1px solid  rgb(18,17,48);
    color:  rgb(18,17,48);   

}

.flex-box{
    display: flex;
}

/* GRID B END */


/* GRID C START */
.grid-item-c{
    grid-column: 5;
    grid-row: 1 / 3;
    text-align: center;
    margin: 0 auto;
    margin-left: 10px;
}

.grid-item-c a{
    text-decoration: none;
}

.btn {
    padding: 30px;
    border: 1px solid  rgb(232,231,231);
    border-top: none;
    width: 280px ;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}


.grid-item-c h3{
    color: black;
    background-color:  rgb(232,231,231);
    text-align: left;
    padding: 10px;
    border: 1px solid  rgb(232,231,231);
    width: 280px ;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#github button{
    background-color:rgb(36,41,46);
    border: none;
    display: inline-block;
    border-radius: 5px;
    width: 220px;
    padding: 11px 0px;
    color: white;
    text-transform: capitalize;
    margin: 10px;
    font-size: 16px;
    transition: 0.3s;
    letter-spacing: 0.5px;
}

#github button:hover{
    background-color:black;
}

#twitter button{
    background-color:rgb(29,161,242);
    border: none;
    border-radius: 5px;
    display: inline-block;
    width: 220px;
    padding: 11px 0px;
    color: white;
    text-transform: capitalize;
    margin: 10px;
    font-size: 16px;
    letter-spacing: 0.5px;
}

#twitter button:hover{
    background-color: rgb(0, 125, 202);
}

/* GRID C END  */


/* MAIN END */
